body{
  margin: 0;
  background-color: silver;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-width: 400px;
}

input{
  width: 100%;
  margin-bottom: 5px ;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
}

button{
  padding: 5px 10px;
  background-color: green;
  border: 1px solid green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#delete-btn, #tab-btn{
  background-color: white;
  color: green;
}

ul{
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}
li{
  margin-top: 5px;
}
li a{
  color: green;
  text-decoration: none;
}